<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="AutomationSuite">

    <listeners>
        <listener class-name="utils.TestListener"/>
    </listeners>

    <test name="Login as Admin and Search User">
        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.AddUserTest"/>
            <class name="tests.SearchUser"/>
        </classes>
    </test>
</suite>