<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="AutomationSuite" parallel="tests" thread-count="3">

    <listeners>
        <listener class-name="utils.TestListener"/>
    </listeners>

    <test name="Login Test and Add Location">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.AddLocationTest"/>
        </classes>
    </test>

    <test name="Login and Add User">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.AddUserTest"/>
        </classes>
    </test>

    <test name="Login and Search User">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="tests.SearchUser"/>
        </classes>
    </test>
</suite>